<!DOCTYPE html>
<html lang="ja" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta property="og:type" content="website">
<meta property="og:title" content="MINAMI KAWANAGA PORTFOLIO">
<meta property="og:url" content="https://home.k07.itscom.net/maru/index.html">
<meta property="og:image" content="">
<meta property="og:locale" content="ja_JP">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="description" content="">
<meta name="keywords" content="featured,home">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>MINAMI KAWANAGA PORTFOLIO</title>
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
<link rel="canonical" href="https://home.k07.itscom.net/maru/index.html">
<!-- CSS -->
<link rel="stylesheet" href="/css/style.css">
<!-- Font-icon -->
<link rel="stylesheet" href="/css/icomoon.css">
<!-- Font-awesome -->
<link href="/
font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- JS -->
<script src="https://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-53636-1";
urchinTracker();
</script>
<!-- typekit -->
<script src="https://use.typekit.net/bjv0iru.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
