<nav>
  <div class="humberger-wrap">
    <div class="humberger"></div>
  </div>
  <ul>
    <li><a href="/index.html"><span>HOME</span></a></li>
    <li><a href="/portfolio.html"><span>PORTFOLIO</span></a></li>
    <li><a href="/about.html"><span>ABOUT</span></a></li>
  </ul>
  <div class="nav-footer-icons">
    <ol>
      <li class="link-icon"><a href="https://www.facebook.com/kawanaga.minami"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li class="link-icon"><a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li class="link-icon"><a href="mailto:minami.kawanaga@gmail.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
    </ol>
  </div>
</nav>