<section class="content filter-wrap animated fadeIn">
  <div class="container">
    <div class="filter"><a data-filter="*" class="current">ALL</a><br class="mobile-break">
      <a data-filter=".PRINT">Print</a> <a data-filter=".ADVERTISING">Advertising</a> <a data-filter=".2DDESIGN">2D design</a> <a data-filter=".WEB">Web</a> <a data-filter=".LOGO">Logo</a> </div>
  </div>
</section>
<!-- section.content-->