<% include ../common/_head %>

<body>

<% include ../common/_header %>
<% include ../common/_nav %>

<section class="single content">
  <div class="container">
    <div class="row">
      <div class="single-header"> <span class="single-number animated fadeInDown">12</span>
        <h2 class="single-title animated fadeIn">Relux 提携バナー<br>
        </h2>
        <span class="single-subtitle animated fadeInUp">Design</span> </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-body animated fadeIn">
        <div class="single-img"> <img src="../../images/advertising/advertising_relux02-1.jpg" alt="advertising_relux01-1">
          <p class="singleText">会員制宿泊予約サイトReluxの会員80万人Facebook いいね！シェア画像。編集チームと相談の上、Reluxで掲載されている施設写真をハートの形にコラージュして感謝を表現した。</p>
        </div>
        <div class="single-img"> <img src="../../images/advertising/advertising_relux02-2.jpg" alt="advertising_relux01-2"></div>
        <div class="single-img"> <img src="../../images/advertising/advertising_relux02-3.jpg" alt="advertising_relux01-2">
          <p class="singleText">Reluxの提携先のバナー画像の一部。</p>
          <p class="text-size">例）大村松坂屋カード&nbsp;台湾版Amexカード&nbsp;セゾンカード</p>
        </div>
      </div>
      <div class="d-2"></div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-credit">
        <p>Data - 2017.01〜04</p>
        <p>Editor - 佐藤里菜 他</p>
        <p>Designer - 川永 南</p>
      </div>
    </div>
    <!-- row -->
    <%- include('../common/_pager', {prev:'advertising_01.html', next:'logo_02.html'}) %>
    <!-- row --> 
  </div>
  <!-- container --> 
</section>
<!-- section.single -->

<% include ../common/_footer %>
<!--footer.animated -->

<!-- jQuery --> 
<script type="text/javascript" src="../../js/jquery.min.js"></script> 
<script type="text/javascript" src="../../js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="../../js/embed.js"></script> 
<script type="text/javascript" src="../../js/script.js"></script> 
<!-- Waypoints --> 
<script src="../../js/jquery.waypoints.min.js"></script> 
<!-- Portfolio Filter Mixitup --> 
<script type="text/javascript" src="../../js/jquery.mixitup.min.js"></script>
</body>
</html>
