<% include ../common/_head %>

<body>

<% include ../common/_header %>
<% include ../common/_nav %>

<section class="single content">
  <div class="container">
    <div class="row">
      <div class="single-header"> <span class="single-number animated fadeInDown">11</span>
        <h2 class="single-title animated fadeIn">Relux リッチコンテンツ<br>
        </h2>
        <span class="single-subtitle animated fadeInUp">Planning, Design</span> </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-body animated fadeIn">
        <div class="single-img"> <img src="../../images/advertising/advertising_relux01-1.jpg" alt="advertising_relux01-1">
          <p class="singleText"> 会員制宿泊予約サイトReluxの公式LINEリッチコンテンツ。<br>
            以前4分割であった画像を1分割にし、必要なキャッチコピー・写真を引き算し、高級感あるブランドイメージのデザインに変更した。その結果、Relux セレクションズ、Relux マガジンへの遷移先のセッション率が5倍程上がる。 </p>
        </div>
        <div class="single-img"><img src="../../images/advertising/advertising_relux01-2.jpg" alt="advertising_relux01-2">
          <p class="singleText">Instagram Stories用にReluxランキング画像を7枚作成。配信される期間が短いため、必要なだけのテキストに絞り作成。instagramのユーザーに合わせてランキングのアイコンをフラットデザインに変更。
            現在は写真画像のみで作成、配信されている。 </p>
        </div>
      </div>
      <div class="d-2"></div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-credit">
        <p>Data - 2017.02-04 ~</p>
        <p>Editor - 山口七瀬、他</p>
        <p>Designer - 川永 南</p>
      </div>
      <div class="d-2"></div>
    </div>
    <!-- row -->
    <%- include('../common/_pager', {prev:'web_04.html', next:'advertising_02.html'}) %>
    <!-- row --> 
  </div>
  <!-- container --> 
</section>
<!-- section.single -->

<% include ../common/_footer %>
<!--footer.animated -->

<!-- jQuery --> 
<script type="text/javascript" src="../../js/jquery.min.js"></script> 
<script type="text/javascript" src="../../js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="../../js/embed.js"></script> 
<script type="text/javascript" src="../../js/script.js"></script> 
<!-- Waypoints --> 
<script src="../../js/jquery.waypoints.min.js"></script> 
<!-- Portfolio Filter Mixitup --> 
<script type="text/javascript" src="../../js/jquery.mixitup.min.js"></script>
</body>
</html>
