<% include ../common/_head %>

<body>

<% include ../common/_header %>
<% include ../common/_nav %>

<section class="single content">
  <div class="container">
    <div class="row">
      <div class="single-header"> <span class="single-number animated fadeInDown">06</span>
        <h2 class="single-title animated fadeIn">SKE48 ZERO POSITION<span>番組CGテロップ/TBS</span></h2>
        <span class="single-subtitle animated fadeInUp">2D design</span> </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-body animated fadeIn">
        <div class="single-img"> <img src="../../images/cg/cg-design_201409-01.jpg" alt="cg-design_img01">
         <p class="singleText">2014年10月15日TBSチャンネルでON AIRされた「SKE48 ZERO POSITION ～チームスパルタ！能力別アンダーバトル～」バラエティ番組のCGテロップ等を制作。<br>
          番組のイメージから戦いをイメージしてデザインした。</p>
        </div>
        <div class="single-img"> <img src="../../images/cg/cg-design_201409-02.jpg" alt="cg-design_img02"></div>
        <div class="single-img"> <img src="../../images/cg/cg-design_201409-03.jpg" alt="cg-design_img03"></div>
        <div class="single-img"> <img src="../../images/cg/cg-design_201409-04.jpg" alt="cg-design_img04"></div>
        <div class="single-img"> <img src="../../images/cg/cg-design_201409-05.jpg" alt="cg-design_img05"></div>
      </div>
      <div class="d-2"></div>
    </div>
<!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-credit">
        <p>Data - 制作2014.08 ON AIR 2014.10.4〜</p>
        <p>Client - TBS</p>
        <p>CG Director - 板垣洋好</p>
        <p>2D OPERATOR - 杉浦幸菜, 川永 南</p>
      </div>
      <div class="d-2"></div>
    </div>
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-credit">
        <p>Data - 2012.02個人制作</p>
      </div>
    </div>
    <!-- row -->
    <%- include('../common/_pager', {prev:'print_04.html', next:'web_01.html'}) %>
    <!-- row --> 
  </div>
  <!-- container --> 
</section>
<!-- section.single -->

<% include ../common/_footer %>
<!--footer.animated -->

<!-- jQuery --> 
<script type="text/javascript" src="../../js/jquery.min.js"></script> 
<script type="text/javascript" src="../../js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="../../js/embed.js"></script> 
<script type="text/javascript" src="../../js/script.js"></script> 
<!-- Waypoints --> 
<script src="../../js/jquery.waypoints.min.js"></script> 
<!-- Portfolio Filter Mixitup --> 
<script type="text/javascript" src="../../js/jquery.mixitup.min.js"></script>
</body>
</html>
