<% include ../common/_head %>

<body>

<% include ../common/_header %>
<% include ../common/_nav %>

<section class="single content">
  <div class="container">
    <div class="row">
      <div class="single-header"> <span class="single-number animated fadeInDown">01</span>
        <h2 class="single-title animated fadeIn">ATSUKO INOUE</h2>
        <span class="single-subtitle animated fadeInUp">Branding, Logo design</span> </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-body animated fadeIn">
        <div class="single-img"> <img src="../../images/logo/logo_20111-01.jpg" alt="logo_img01">
          <p class="singleText">パッチワークを個人販売している知人のブランドロゴデザイン。<br>
            彼女のFacebookのQRコードを商品タグの裏に付け、商品を出す機会が少ない分、お店に足を運んでくれたお客様により商品と作者を知ってもらう名刺の役割のタグを制作した。</p>
        </div>
      </div>
      <div class="d-2"></div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-credit">
        <p>Date - 2011.11〜</p>
        <p>Client - 井上厚子</p>
        <p>Designer - 川永 南</p>
      </div>
    </div>
    <!-- row -->
   <%- include('../common/_pager', {prev:'logo_02.html', next:'print_01.html'}) %>
  </div>
  <!-- container --> 
</section>
<!-- section.single -->

<% include ../common/_footer %>
<!--footer.animated -->

<!-- jQuery --> 
<script type="text/javascript" src="../../js/jquery.min.js"></script> 
<script type="text/javascript" src="../../js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="../../js/embed.js"></script> 
<script type="text/javascript" src="../../js/script.js"></script> 
<!-- Waypoints --> 
<script src="../../js/jquery.waypoints.min.js"></script> 
<!-- Portfolio Filter Mixitup --> 
<script type="text/javascript" src="../../js/jquery.mixitup.min.js"></script>
</body>
</html>
