<% include ../common/_head %>

<body>

<% include ../common/_header %>
<% include ../common/_nav %>

<section class="single content">
  <div class="container">
    <div class="row">
      <div class="single-header"> <span class="single-number animated fadeInDown">13</span>
        <h2 class="single-title animated fadeIn">コミュ×クロ</h2>
        <span class="single-subtitle animated fadeInUp">Logo design, Planning</span> </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-body animated fadeIn">
        <div class="single-img"> <img src="../../images/logo/logo_201605-01.jpg" alt="logo_img01">
          <p class="singleText">立川子ども未来センター市民ボランティア団体・アクティベータ*ーのメンバーで立ち上げたプロジェクト「コミュ×クロ」のロゴ制作。<br>
            子ども未来センターで活動する団体さんとアクティベーターが&#8220;クロスする&#8221;ことで生まれるコミュニティをイメージして、「コ」「ュ」「×」「ロ」文字の交わる箇所にクロスの装飾を入れている。</p>
          <p class="singleText"> 2016年7月16日には「第1回&nbsp;笹さんの初心者向けFacebook勉強会」を開催。ロゴ制作とチラシ広告制作の担当をした。
            SNSを利用した呼びかけ方法が分からないといった悩みをお店を持つ団体さん向けに共に課題に向き合い解決していく「場」を企画した。</p>
          <p class="singleText"><span>*アクティベーターとは</span> 「団体には所属していないけれど、センターやまちで活動してみたい！」という想いを持った
            市民ボランティアのことです。登録団体の活動サポーターに留まらず、メンバーの中には
            自ら企画を立て、活動を行っている人たちなど個性豊かな人々が集まっています。 </p>
          <p class="singleText"><span>立川子ども未来センター</span><a href="http://t-mirai.com/" target="_blank">http://t-mirai.com/</a></p>
        </div>
        <div class="single-img"> <img src="../../images/logo/logo_201605-02.jpg" alt="logo_img02"></div>
        <div class="single-img"> <img src="../../images/logo/logo_201605-03.jpg" alt="logo_img03"></div>
        <div class="single-img"> <img src="../../images/logo/logo_201605-04.jpg" alt="logo_img04"></div>
      </div>
      <div class="d-2"></div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-credit">
        <p>Date - 2016.05〜</p>
        <p>Member - 笹森建治、榎本すみを、神田怜美奈、川永 南、落合祥子</p>
        <p>Designer - 川永 南</p>
        <p>photographer - 神田怜美奈</p>
        <p>supporter - コーディネーター&nbsp;落合祥子</p>
      </div>
    </div>
    <!-- row -->
    <div class="row button-wrap">
      <div class=" button-works-nav button-prev"><a href="advertising_02.html" rel="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>&nbsp; </div>
      <div class="button-wrap-center"><a href="portfolio.html" class="button button-center"><span class="button-label">BACK TO ARCHIVES</span></a></div>
      <div class=" button-works-nav button-next"><a href="logo_01.html" rel="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></div>
    </div>
    <!-- row --> 
  </div>
  <!-- container --> 
</section>
<!-- section.single -->

<% include ../common/_footer %>
<!--footer.animated -->

<!-- jQuery --> 
<script type="text/javascript" src="../../js/jquery.min.js"></script> 
<script type="text/javascript" src="../../js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="../../js/embed.js"></script> 
<script type="text/javascript" src="../../js/script.js"></script> 
<!-- Waypoints --> 
<script src="../../js/jquery.waypoints.min.js"></script> 
<!-- Portfolio Filter Mixitup --> 
<script type="text/javascript" src="../../js/jquery.mixitup.min.js"></script>
</body>
</html>
