<% include ../common/_head %>

<body>

<% include ../common/_header %>
<% include ../common/_nav %>

<section class="single content">
  <div class="container">
    <div class="row">
      <div class="single-header"> <span class="single-number animated fadeInDown">03</span>
        <h2 class="single-title animated fadeIn">RYO-MA</h2>
        <span class="single-subtitle animated fadeInUp">Print,&nbsp;Logo design,&nbsp;Editorial&nbsp;design</span> </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-body animated fadeIn">
        <div class="single-img"> <img src="../../images/print/print_201202-01.jpg" alt="portfolio-image01">
          <p class="singleText">プチ龍馬かぶれである私が坂本龍馬という人間のことをもっと色んな人に知ってもらいたいという動機から自主制作した博物誌。<br>
            坂本龍馬に関する26のキーワードをA&nbsp;to&nbsp;Z形式で編集し、さらにそのキーワードを6つにグルーピング。<br>
            A to Zという形式上、内容が飛び交っているため、読み手の混乱を避けるためにもジャンルごとに本文やノンブル等を色別（6色）にし、どのページを開いてもどんな内容のものなのか色で判別できるように心掛けた。また、歴史上の人物を扱っているため龍馬の年表があるとより分かりやすく伝わると思い、作成。本文の内容と照らし合わせて、手に持って見れるようにカバーの裏に年表を印刷した。 </p>
          <p class="text-size">W205×H102×D5 mm &nbsp全60ページ</p>
        </div>
        <div class="single-img"><img src="../../images/print/print_201202-02.jpg" alt="portfolio-image"></div>
        <div class="single-img"><img src="../../images/print/print_201202-03.jpg" alt="portfolio-image"></div>
        <div class="single-img"><img src="../../images/print/print_201202-04.jpg" alt="portfolio-image"></div>
        <div class="single-img"><img src="../../images/print/print_201202-05.jpg" alt="portfolio-image"></div>
      </div>
      <div class="d-2"></div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-credit">
        <p>Data - 2012.02個人制作</p>
      </div>
    </div>
    <!-- row -->
    <div class="row button-wrap">
      <div class=" button-works-nav button-prev"><a href="print_01.html" rel="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>&nbsp; </div>
      <div class="button-wrap-center"><a href="portfolio.html" class="button button-center"><span class="button-label">BACK TO ARCHIVES</span></a></div>
      <div class=" button-works-nav button-next"><a href="print_03.html" rel="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></div>
    </div>
    <!-- row --> 
  </div>
  <!-- container --> 
</section>
<!-- section.single -->

<% include ../common/_footer %>
<!--footer.animated -->

<!-- jQuery --> 
<script type="text/javascript" src="../../js/jquery.min.js"></script> 
<script type="text/javascript" src="../../js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="../../js/embed.js"></script> 
<script type="text/javascript" src="../../js/script.js"></script> 
<!-- Waypoints --> 
<script src="../../js/jquery.waypoints.min.js"></script> 
<!-- Portfolio Filter Mixitup --> 
<script type="text/javascript" src="../../js/jquery.mixitup.min.js"></script>
</body>
</html>
