<% include ../common/_head %>

<body>

<% include ../common/_header %>
<% include ../common/_nav %>

<section class="single content">
  <div class="container">
    <div class="row">
      <div class="single-header"> <span class="single-number animated fadeInDown">04</span>
        <h2 class="single-title animated fadeIn">「PERSONA3 THE MOVIE <br>
          #1 Spring of Birth
          ×ナゾメイト」展示物</h2>
        <span class="single-subtitle animated fadeInUp">Print</span> </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-body animated fadeIn">
        <div class="single-img"><img src="../../images/print/print_201311-01.jpg" alt="portfolio-image">
          <p class="singleText">「PERSONA3 THE MOVIE #1 Spring of Birth 」の映画公開を記念して開催されたナゾメイト*とコラボした謎解きイベント関わる展示パネル、リーフレットデザインを制作。
            公開される映画の世界観イメージに合わせてデザイン。イベントに参加する来場者の方が作品世界に入り込める会場に仕上げた。</p>
          <p class="singleText">*<a href="https://www.nazomate.com/" target="_blank">https://www.nazomate.com/</a></p>
          <p class="text-size">会場で配布された招待状リーフレット｜A5<br>
            「P3 THE MOVIE #1 Spring of Birth ×ナゾメイト」ロゴ<br>
            会場で配置された試験問題パネル｜128×182 mm</p>
        </div>
        <div class="single-img"><img src="../../images/print/print_201311-02.jpg" alt="portfolio-image">
        <p class="text-copyright">
          © Index Corporation／劇場版「ペルソナ３」製作委員会
        </p>
        </div>
      </div>
      <div class="d-2"></div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-credit">
        <p>Data - 2012.02個人制作</p>
      </div>
    </div>
    <!-- row -->
    <%- include('../common/_pager', {prev:'print_02.html', next:'print_04.html'}) %>
    <!-- row --> 
  </div>
  <!-- container --> 
</section>
<!-- section.single -->

<% include ../common/_footer %>
<!--footer.animated -->

<!-- jQuery --> 
<script type="text/javascript" src="../../js/jquery.min.js"></script> 
<script type="text/javascript" src="../../js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="../../js/embed.js"></script> 
<script type="text/javascript" src="../../js/script.js"></script> 
<!-- Waypoints --> 
<script src="../../js/jquery.waypoints.min.js"></script> 
<!-- Portfolio Filter Mixitup --> 
<script type="text/javascript" src="../../js/jquery.mixitup.min.js"></script>
</body>
</html>
