<% include ../common/_head %>

<body>

<% include ../common/_header %>
<% include ../common/_nav %>

<section class="single content">
  <div class="container">
    <div class="row">
      <div class="single-header"> <span class="single-number animated fadeInDown">02</span>
        <h2 class="single-title animated fadeIn">遊具のカタチ</h2>
        <span class="single-subtitle animated fadeInUp">Print,&nbsp;Logo design,&nbsp;Editorial&nbsp;design</span> </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-body animated fadeIn">
        <div class="single-img"> <img src="../../images/print/print_201201-01.jpg" alt="portfolio-image01">
          <p class="singleText">学生の頃、グループワークで制作した雑誌「遊具のカタチ」を復刻版として制作。<br>
            復刻版なので雑誌という形式を捨て、冊子というカタチを選んだ。“ 近年、安全性だけに目が向けられている遊具を別の観点から見つめ直し、親や大人たちに遊具制作者の思い、工夫などを新たに発見、関心を抱いてもらい、問題意識のきっかけづくりを目指す”という元のコンセプトを軸に、さらに本自体が遊具になるように最終的に箱型の装丁の冊子をリ・デザイン。中のレイアウトやロゴは付録のパズルのカタチを意識した。<br>
            また、本文に円を切り抜いた部分のページに、前ページの遊具で遊んでいる女の子が次ページの虫眼鏡のイラストの中にうつる仕掛けなどを入れ、所々に遊び心を入れている。 </p>
          <p class="text-size">W220×H200×D10 mm </p>
        </div>
        <div class="single-img"><img src="../../images/print/print_201201-02.jpg" alt="portfolio-image"></div>
        <div class="single-img"><img src="../../images/print/print_201201-03.jpg" alt="portfolio-image"></div>
        <div class="single-img"><img src="../../images/print/print_201201-04.jpg" alt="portfolio-image"></div>
        <div class="single-img"><img src="../../images/print/print_201201-05.jpg" alt="portfolio-image"></div>
      </div>
      <div class="d-2"></div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-credit">
        <p>Data - 2012.01個人制作</p>
      </div>
    </div>
    <!-- row -->
    <div class="row button-wrap">
      <div class=" button-works-nav button-prev"><a href="../../portfolio/logo_01.html" rel="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>&nbsp; </div>
      <div class="button-wrap-center"><a href="../../portfolio.html" class="button button-center"><span class="button-label">BACK TO ARCHIVES</span></a></div>
      <div class=" button-works-nav button-next"><a href="print_02.html" rel="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></div>
    </div>
    <!-- row --> 
  </div>
  <!-- container --> 
</section>
<!-- section.single -->

<% include ../common/_footer %>
<!--footer.animated -->

<!-- jQuery --> 
<script type="text/javascript" src="../../js/jquery.min.js"></script> 
<script type="text/javascript" src="../../js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="../../js/embed.js"></script> 
<script type="text/javascript" src="../../js/script.js"></script> 
<!-- Waypoints --> 
<script src="../../js/jquery.waypoints.min.js"></script> 
<!-- Portfolio Filter Mixitup --> 
<script type="text/javascript" src="../../js/jquery.mixitup.min.js"></script>
</body>
</html>
