<% include ../common/_head %>

<body>

<% include ../common/_header %>
<% include ../common/_nav %>

<section class="single content">
  <div class="container">
    <div class="row">
      <div class="single-header"> <span class="single-number animated fadeInDown">10</span>
        <h2 class="single-title animated fadeIn">注文の多い料理店
        </h2>
        <span class="single-subtitle animated fadeInUp">Planning, Logo Design, Character Design, Web Design, Coding</span></div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-body animated fadeIn">
        <div class="single-img"> <img src="../../images/web/web_01.jpg" alt="web_01"></div>
        <div class="single-img"> <img src="../../images/web/web_02.jpg" alt="web_02">
          <p class="singleText">誰もが知っている普遍的なストーリーである「注文の多い料理店」を効果的なパララックスという
            Webならではの表現で展開。「ユーザー自身が読み進めるという点で普及されているWeb動画との差別化を図る。ストーリーを8分割し、場面ごとにイラストのテイストを変化させることで、作品が持つ異世界感を演出し、且つコミカルなWeb表現を狙う。</p>
        </div>
        <div class="single-img"> <img src="../../images/web/web_03.jpg" alt="web_03"></div>
        <div class="single-img"> <img src="../../images/web/web_04.jpg" alt="web_04"></div>
        <div class="single-img"> <img src="../../images/web/web_05.jpg" alt="web_05"></div>
        <div class="single-img"> <img src="../../images/web/web_06.jpg" alt="web_06"></div>
        <div class="single-img"> <img src="../../images/web/web_07.jpg" alt="web_07">
          <p class="singleText">物語に8つの部屋に入るシーンがあること、制作メンバーが9人いたことため、1部屋のシーンを各々1人〜2人に分かれ担当し、8つの部屋ごとに異なるテイストで制作し、物語の世界観に合う作品に仕上げた。</p>
          <p class="singleText">ただし、キャラクターの特徴に共通点がないとユーザーが読み進めるたびに別のキャラクターと困惑させぬために、キャラクター設定を共有した。</p>
        </div>
        <div class="d-2"></div>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="d-2"></div>
      <div class="d-8 single-credit">
        <p>Data - 2015.03&nbsp;-&nbsp;05</p>
        <p>Menber - 9人</p>
        <p>担当 - 企画、sean05,sean06演出・作画・コーディング、タイトルロゴ、キャラクターデザイン</p>
        <p>URL - <a href="http://adjustacademy.com/1412/141206/gw/
" target="_blank">http://adjustacademy.com/1412/141206/gw/ </a></p>
      </div>
      <div class="d-2"></div>
    </div>
    <!-- row -->
     <%- include('../common/_pager', {prev:'web_03.html', next:'advertising_01.html'}) %>
    <!-- row --> 
  </div>
  <!-- container --> 
</section>
<!-- section.single -->

<% include ../common/_footer %>
<!--footer.animated -->

<!-- jQuery --> 
<script type="text/javascript" src="../../js/jquery.min.js"></script> 
<script type="text/javascript" src="../../js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="../../js/embed.js"></script> 
<script type="text/javascript" src="../../js/script.js"></script> 
<!-- Waypoints --> 
<script src="../../js/jquery.waypoints.min.js"></script> 
<!-- Portfolio Filter Mixitup --> 
<script type="text/javascript" src="../../js/jquery.mixitup.min.js"></script>
</body>
</html>
