<% include common/_head %>

<body>

<% include common/_header %>
<% include common/_nav %>

 <section class="single about content">
  <div class="container">
    <div class="row">
      <div class="single-header">
        <h2 class="animated fadeIn">MINAMI KAWANAGA</h2>
        <span class="single-subtitle animated fadeInUp">Designer</span></div>
    </div>
    <div class="row">
      <div class="d-12 about-body animated fadeIn">
        <div class="row">
          <div class="g-12 about-description">
            <h3>ABOUT</h3>
            <p>1983年、神奈川県生まれ。2007年 武蔵野美術大学卒。<br>
              アニメイベント制作会社・TV・映像制作会社等、デザイナーとして転々と働く。Web制作会社でデザイナーとして働いた後、学びの期間とし、SNS系宿泊予約サイトReluxを運営している株式会社Loco PartnersでUI/UXデザイナーにインターンして2016年7月ジョイン。<br>
              locoではReluxのビジュアルデザイン・コーディングをはじめ、バナー広告・チラシといったWebからグラフィックと幅広く関わる。多くの学びを得て「デザインの力」で意識を変えるきっかけをつくるデザイナーを目指して、現在転職活動中。</p>
              <p>元々ネットだけの情報を頼りにするのではなく、自分で視、聞き、体験しなくては何も分からないという考えから、休日に勉強会等のイベント、ワークショップに参加しております。</p>
              <br>
              <p><a href="https://rlx.jp/" target="_blank">https://rlx.jp/</a></p>
          </div>
        </div>
        <div class="row">
          <div class="g-12 about-description">
            <h3>スキル</h3>
            <dl>
              <dt>OS：</dt>
              <dd>Mac OS Ⅹ</dd>
              <dt>App：</dt>
              <dd>Illustrator CC 2017、Photoshop CC 2017、Dreamweaver CC 2017、Brackets、Sketch
                　　（Prott試用中）</dd>
              <dt>技術：</dt>
              <dd>HTML5 / CSS3 / jQuery</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section.about-->

<% include common/_footer %>
<!--footer.animated -->

<!-- jQuery -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/embed.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Portfolio Filter Mixitup -->
<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
</body>
</html>
