<% include common/_head %>

<body>

<% include common/_header %>
<% include common/_nav %>
<% include common/_introduction %>
<% include common/_tab %>

<section class="archives">
  <div class="row archives-wrap">
    <article class="archives-item LOGO archives-item-loaded"> <a href="portfolio/logo02.html">
      <figure><img class="animated" src="images/thumb/logo-thumb-img02.jpg" alt="logo-thumb-img02" ></figure>
      <figcaption>
        <summary>
          <div class="inner-text">
            <h2>13.コミュ×クロ</h2>
            <span class="archives-desc">Logo</span>
            <p>2016.05-</p>
          </div>
        </summary>
      </figcaption>
      </a></article>
    <!-- article-->
    <article class="archives-item ADVERTISING archives-item-loaded"> <a href="portfolio/advertising_01.html">
      <figure><img class="animated" src="images/thumb/advertising-thumb-img01.jpg" alt="advertising-thumb-img01" ></figure>
      <figcaption>
        <summary>
          <div class="inner-text">
            <h2>11.Relux リッチコンテンツ</h2>
            <span class="archives-desc">Advertising</span>
            <p>2017.02-04</p>
          </div>
        </summary>
      </figcaption>
      </a></article>
    <!-- article-->
    <article class="archives-item WEB archives-item-loaded"> <a href="portfolio/web_03.html">
      <figure><img class="animated" src="images/thumb/web-thumb-img03.jpg" alt="web-thumb-img02" ></figure>
      <figcaption>
        <summary>
          <div class="inner-text">
            <h2>09.Relux スマパスの日</h2>
            <span class="archives-desc">Web</span>
            <p>2016.09&nbsp;-&nbsp;2017.05</p>
          </div>
        </summary>
      </figcaption>
      </a> </article>
    <!-- article-->
    <article class="archives-item WEB archives-item-loaded"> <a href="portfolio/web_02.html">
      <figure><img class="animated" src="images/thumb/web-thumb-img02.jpg" alt="web-thumb-img02" ></figure>
      <figcaption>
        <summary>
          <div class="inner-text">
            <h2>08.Relux Campaign</h2>
            <span class="archives-desc">Web</span>
            <p>2016.10&nbsp;-&nbsp;2017.04</p>
          </div>
        </summary>
      </figcaption>
      </a></article>
    <!--article-->
    <article class="archives-item WEB archives-item-loaded"> <a href="portfolio/web/web_01.html">
      <figure><img class="animated" src="images/thumb/web-thumb-img01.jpg" alt="web-thumb-img01"></figure>
      <figcaption>
        <summary>
          <div class="inner-text">
            <h2>07.Relux公式LINE</h2>
            <span class="archives-desc">Web</span>
            <p>2016.10</p>
          </div>
        </summary>
      </figcaption>
      </a> </article>
    <!--article-->
    <article class="archives-item 2DDESIGN archives-item-loaded"> <a href="portfolio/cg.html">
      <figure><img class="animated" src="images/thumb/cg-thumb-img01.jpg" alt="cg-thumb-img01"></figure>
      <figcaption>
        <summary>
          <div class="inner-text">
            <h2>06.「SKE48 ZERO POSITION」番組CGテロップ</h2>
            <span class="archives-desc">Print</span>
            <p>2014.08</p>
          </div>
        </summary>
      </figcaption>
      </a></article>
    <!--article-->
    <article class="archives-item PRINT archives-item-loaded"> <a href="portfolio/print_04.html">
      <figure><img class="animated" src="images/thumb/print-thumb-img04.jpg" alt="print-thumb-img03" ></figure>
      <figcaption>
        <summary>
          <div class="inner-text">
            <h2>05.「ジャンプフェスタ2014」HUNTER×HUNTER</h2>
            <span class="archives-desc">Print</span>
            <p>2013.12</p>
          </div>
        </summary>
      </figcaption>
      </a></article>
    <!--article-->
    <article class="archives-item PRINT archives-item-loaded"> <a href="portfolio/print_04.html">
      <figure><img class="animated" src="images/thumb/print-thumb-img03.jpg" alt="print-thumb-img03" ></figure>
      <figcaption>
        <summary>
          <div class="inner-text">
            <h2>04.「PERSONA3 × ナゾメイト」</h2>
            <span class="archives-desc">Print</span>
            <p>2013.11</p>
          </div>
        </summary>
      </figcaption>
      </a></article>
    <!--article-->
    <article class="archives-item LOGO archives-item-loaded"> <a href="portfolio/logo_01.html">
      <figure><img class="animated" src="images/thumb/logo-thumb-img01.jpg" alt="logo-thumb-img01"></figure>
      <figcaption>
        <summary>
          <div class="inner-text">
            <h2>01.ATSUKO INOUE</h2>
            <span class="archives-desc">Logo</span>
            <p>2011.11 - </p>
          </div>
        </summary>
      </figcaption>
      </a></article>
    <!-- article.archives-item-->
  </div>
  <!-- archives-wrap -->
  <div class="row button-wrap button-wrap-center"><a href="portfolio.html" target="_self"><span class="button button-center">VIEW MORE</span></a></div>
  <!-- div.button-wrap -->
</section>
<!-- section.archives -->

<% include common/_footer %>
<!--footer.animated -->

<!-- jQuery -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/embed.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Portfolio Filter Mixitup -->
<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
</body>
</html>
